<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Форум</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Форум</h1>

<div th:if="${currentUser}">
    <p><span th:text="${currentUser.getUsername()}"></span></p>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти</button>
    </form>
</div>

<div th:unless="${currentUser}">
    <p>
        <a th:href="@{/login}">Войти</a>
        <a th:href="@{/register}">Регистрация</a>
    </p>
</div>
</body>
</html>