<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Вход</h1>

<p class="error" th:if="${param.error}">Неверное имя пользователя или пароль</p>

<form th:action="@{/login}" method="post">
    <p>
        <label>Имя пользователя<br>
            <input type="text" name="username" required>
        </label>
    </p>
    <p>
        <label>Пароль<br>
            <input type="password" name="password" required>
        </label>
    </p>
    <button type="submit">Войти</button>
</form>

<p><a th:href="@{/register}">Регистрация</a></p>
</body>
</html>