<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}">Вход</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<h1 th:text="#{login.title}">Вход</h1>

<p class="error" th:if="${param.error}" th:text="#{login.error}">Неверное имя пользователя или пароль</p>
<p th:if="${param.registered}" th:text="#{login.registered}">Регистрация прошла успешно, теперь войдите</p>

<form th:action="@{/login}" method="post">
    <p>
        <label><span th:text="#{field.username}">Имя пользователя</span><br>
            <input type="text" name="username" required>
        </label>
    </p>
    <p>
        <label><span th:text="#{field.password}">Пароль</span><br>
            <input type="password" name="password" required>
        </label>
    </p>
    <button type="submit" th:text="#{login.submit}">Войти</button>
</form>

<p><a th:href="@{/register}" th:text="#{nav.register}">Регистрация</a></p>
</body>
</html>