<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${publication.title}">Публикация</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="~{fragments :: header}"></header>

<h1 th:text="${publication.title}">Заголовок</h1>

<p class="meta">
    <span th:text="${publication.author.username}">автор</span>,
    <span th:text="${#temporals.format(publication.createdAt, #messages.msg('date.format'))}">дата</span>
    <span th:if="${publication.updatedAt}"
          th:text="#{publication.edited(${#temporals.format(publication.updatedAt, #messages.msg('date.format'))})}">
        (изменена)
    </span>
</p>

<div class="content" th:text="${publication.content}">Текст публикации</div>

<div th:if="${isAuthor}">
    <a th:href="@{/publications/{id}/edit(id=${publication.id})}" th:text="#{publication.edit}">Редактировать</a>
    <form class="inline" th:action="@{/publications/{id}/delete(id=${publication.id})}" method="post">
        <button type="submit" th:text="#{publication.delete}">Удалить</button>
    </form>
</div>
</body>
</html>