<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{register.title}">Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<h1 th:text="#{register.title}">Регистрация</h1>

<p class="error" th:if="${errorCode}" th:text="#{${errorCode}}">ошибка</p>

<form th:action="@{/register}" th:object="${registerForm}" method="post">
    <p>
        <label><span th:text="#{field.username}">Имя пользователя</span><br>
            <input type="text" th:field="*{username}" required>
        </label>
    </p>
    <p>
        <label><span th:text="#{field.email}">Почта</span><br>
            <input type="email" th:field="*{email}" required>
        </label>
    </p>
    <p>
        <label><span th:text="#{field.password}">Пароль</span><br>
            <input type="password" name="password" required>
        </label>
    </p>
    <button type="submit" th:text="#{register.submit}">Зарегистрироваться</button>
</form>

<p><a th:href="@{/login}" th:text="#{login.title}">Вход</a></p>
</body>
</html>